
<suite name="Grest UI Automation Test Suite" parallel="methods" thread-count="6" verbose="1">
    <test name="UI Automation">
        <parameter name="browser" value="${browser}" />
        <parameter name="isLambdaTest" value="${isLambdaTest}" />
        <parameter name="isHeadless" value="${isHeadless}" />
        
        <classes>
            <class name="com.ui.tests.LoginTest4" />
        </classes>
    </test>
</suite>
